.mainCardsContainer {
    width: 85%;
    bottom: 0;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardContainer {
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    background-color: rgba(245, 245, 245, 0.6);
}

.cardContainer:hover {
    cursor: pointer;
}

.images{
    height: 375px;
    width: 375px;
}

.header {
    max-width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header::first-letter{
    text-transform: capitalize;
}

.shortDesc {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shortDesc::first-letter{
    text-transform: capitalize;
}

.priceRating {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}