.appContainer{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.app {
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    max-width: 2400px;
    max-height: 80vh;
    margin: 0 auto;
}

.headerContainer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.contentContainer{
    height: 90vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}


