.appContainer{
    width: 100%;
}

.app {
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    max-width: 1820px;
    margin: 0 auto;
}

.headerContainer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.contentContainer{
    height: 90vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modalContainer-div{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(50%);
}
